.wrapper {
  width: 100%;
  border-top: var(--border);
  border-bottom: var(--border);
  background-color: var(--accordion-background-color);
}

.tripDayButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: 1rem;
  padding-inline: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tripDayButtonOpen {
  background-color: var(--accordion-color-open);
}

.accordionIcon {
  font-size: 25px;
}

.tripDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  padding-inline: 1rem;
}

.dayActions {
  display: flex;
  gap: 2rem;
  margin-top: 10px;
}

.table {
  --last-column-width: 50px;

  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}

.table td th {
  --number-of-columns-with-value: 4;

  width: calc(
    (100% - var(--last-column-width)) / var(--number-of-columns-with-value)
  );
}

.table td:last-child,
.table th:last-child {
  width: var(--last-column-width);
}

.deleteTableHeader {
  visibility: hidden;
}

th {
  font-size: var(--text-font-size);
}

.icon {
  margin-left: 1rem;
  font-size: var(--text-font-size);
}

.disabled {
  opacity: var(--disabled-opacity);
}
