/*
.tripHeader {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

.tripDay {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #f4c952;
	margin: 2rem 0;
	padding: 1rem;
	border-radius: 5px;
	background-color: #f5e4b3;
}

.dayActions {
	display: flex;
	gap: 2rem;
	margin-top: 10px;
}

.table {
	--last-column-width: 50px;

	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.table th,
.table td {
	padding: 8px;
	border-bottom: 2px solid #f4c952;
}

.table td th {
	--number-of-columns-with-value: 4;

	width: calc(
		(100% - var(--last-column-width)) / var(--number-of-columns-with-value)
	); /* Adjust based on the number of columns minus button width */
/*}

.table td:last-child,
.table th:last-child {
	width: var(--last-column-width);
	text-align: center;
}

.deleteTableHeader {
	visibility: hidden;
}

th {
	font-size: 20px;
}

.icon {
	margin-left: 1rem;
	font-size: 20px;
}

.disabled {
	opacity: 70%;
}
*/

.wrapper {
  width: 100%;
  border-top: 2px solid #0087d1;
  border-bottom: 2px solid #0087d1;
  background-color: #e5f6ff;
}

.tripDayButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: 1rem;
  padding-inline: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tripDayButtonOpen {
  background-color: var(--accordion-color-open);
}

.accordionIcon {
  font-size: 25px;
}

.tripDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  padding-inline: 1rem;
}

.dayActions {
  display: flex;
  gap: 2rem;
  margin-top: 10px;
}

.table {
  --last-column-width: 50px;

  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}

.table td th {
  --number-of-columns-with-value: 4;

  width: calc(
    (100% - var(--last-column-width)) / var(--number-of-columns-with-value)
  ); /* Adjust based on the number of columns minus button width */
}

.table td:last-child,
.table th:last-child {
  width: var(--last-column-width);
}

.deleteTableHeader {
  visibility: hidden;
}

th {
  font-size: 20px;
}

.icon {
  margin-left: 1rem;
  font-size: 20px;
}

.disabled {
  opacity: 70%;
}
