.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #f4c952;
	margin: 2rem 0;
	padding: 1rem;
	border-radius: 5px;
	background-color: #f5e4b3;
}

.tripHeader {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	margin-bottom: 2rem;
}

th,
td {
	font-size: 20px;
	padding-inline: 0.5rem;
}
