.button {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	background-color: var(--button-color);
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.default:hover {
	background-color: var(--button-hover-color);
}

.default:active {
	background-color: var(--button-active-color);
}

.danger {
	background-color: var(--error-color);
}

.danger:hover {
	background-color: #c62828; /* TODO MAKE VARIABLE */
}

.danger:active {
	background-color: #b71c1c; /* TODO MAKE VARIABLE */
}

.iconWrapper {
	display: contents;
}
