.inputLabel {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.styledInput {
  border: 1px solid var(--input-border-color);
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  background-color: var(--input-background-color);
  color: var(--text-color);
  transition: border-color 0.3s;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  font-size: 18px;
  transition: box-shadow 0.3s;
  min-height: 2.75rem;
}

.styledInput:hover {
  box-shadow: inset 0 0 0 2px var(--input-hover-border-color);
}

.styledInput:focus {
  box-shadow: inset 0 0 0 2px var(--input-focus-border-color);
}

.hiddenLabel {
  visibility: hidden;
  position: absolute;
}
