.inputLabel {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.styledInput {
  border: 1px solid var(--input-border-color);
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  background-color: var(--input-background-color);
  color: var(--text-color);
  transition: border-color 0.3s;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  font-size: var(--text-font-size);
  min-height: 2.75rem;
}

.styledInput:hover {
  outline: 2px solid var(--input-hover-border-color);
  border-color: var(--input-hover-border-color);
}

.styledInput:focus {
  outline: 2px solid var(--input-focus-border-color);
  border-color: var(--input-focus-border-color);
}

.hiddenLabel {
  visibility: hidden;
  position: absolute;
}
