.inputWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 15px;
	width: 100%;
}

.inputLabel {
	margin-bottom: 0.25rem;
	color: var(--text-color);
}

.input {
	border: 2px solid var(--input-border-color);
	padding: var(--input-padding);
	border-radius: var(--input-border-radius);
	background-color: var(--input-background-color);
	color: var(--text-color);
	transition: border-color 0.3s;
	width: 100%;
	box-sizing: border-box;
	font-size: 20px;
}

.input:hover {
	border: none;
	outline: 2px solid var(--input-hover-border-color);
}

.input:focus {
	border: none;
	outline: 2px solid var(--input-focus-border-color);
}

.hiddenLabel {
	visibility: hidden;
	position: absolute;
}
