.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  padding-inline: var(--page-padding-inline);
  margin: 0;
  height: 100%;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
}

.headerWrapper {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}

.headerIcon {
  font-size: var(--font-size-header-icon);
}

.rightHeaderIcon {
  transform: scaleX(-1);
}

.pageHeader {
  font-size: var(--font-size-header);
  margin: 0;
  padding: 0;
  text-align: center;
}

.tripLength {
  font-size: var(--text-font-size);
  font-weight: bold;
  text-align: center;
}

.actionButtons {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.actionButtonsSmall {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.subHeader {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.subHeaderIcon {
  margin-left: 0.5rem;
  font-size: var(--font-size-sub-header-icon);
}

.formWrapper {
  margin-top: 2rem;
}
