:root {
	--primary-color: #0277bd;
	--secondary-color: #ffc107;
	--accent-color: #ff5722;
	--background-color: #e0f7fa;
	--text-color: #212121;
	--secondary-text-color: #757575;
	--button-color: #0288d1;
	--button-hover-color: #0277bd; /* Slightly darker shade for hover */
	--button-active-color: #01579b; /* Even darker shade for active */
	--success-color: #388e3c;
	--warning-color: #fbc02d;
	--error-color: #d32f2f;
	--input-border-color: #757575;
	--input-focus-border-color: #0277bd;
	--input-background-color: #ffffff;

	--main-heading-font: 'Montserrat', sans-serif;
	--body-font: 'Roboto', sans-serif;

	--input-padding: 10px;
	--input-border-radius: 5px;

	--text-font-size: 20px;
}

body {
	font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--main-heading-font);
}

p {
	font-size: var(--text-font-size);
	margin: 0;
}

label {
	font-size: var(--text-font-size);
	font-weight: bold;
}

button {
	font-size: 18px;
}
