:root {
  --primary-color: #bfe8ff;
  --secondary-color: #ffcc80;
  --tertiary-color: #f58a07;
  --background-color: #fdfeff;

  --primary-color-danger: #e02e49;
  --secondary-color-danger: #b3253a;
  --tertiary-color-danger: #861c2c;

  --text-color: #2c2c2c;

  --button-color: #00517e;
  --button-hover-color: #1e98f5;
  --button-active-color: #0a3251;

  --button-text-color-dark: #2c2c2c;
  --button-text-color-light: #ffffff;

  --button-color-danger: var(--primary-color-danger);
  --button-hover-color-danger: var(--secondary-color-danger);
  --button-active-color-danger: var(--tertiary-color-danger);

  --accordion-color-open: #bfe8ff;
  --accordion-background-color: #e5f6ff;

  --border-color: #00517e;
  --border: 2px solid var(--border-color);

  /* --success-color: #388e3c; 
	--warning-color: #fbc02d;*/

  --divider-color: #123;

  --input-border-color: #757575;
  --input-hover-border-color: #0277bd;
  --input-focus-border-color: #0277bd;
  --input-background-color: #ffffff;

  --main-heading-font: "Montserrat", sans-serif;
  --body-font: "Roboto", sans-serif;
  --text-font-size: 20px;

  --input-padding: 10px;
  --input-border-radius: 5px;

  --focus-outline: 2px solid #0a3251;
  --focus-outline-offset: 4px;

  --disabled-opacity: 70%;
}

@media (max-width: 950px) {
  :root {
    --text-font-size: 18px;
  }
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-heading-font);
}

p {
  font-size: var(--text-font-size);
  margin: 0;
}

label {
  font-size: var(--text-font-size);
  font-weight: bold;
}
