:root {
	--primary-color: #0277bd;
	--secondary-color: #ffc107;
	--accent-color: #ff5722;
	--background-color: #e0f7fa;
	--text-color: #212121;
	--secondary-text-color: #757575;
	--button-color: #0288d1;
	--button-hover-color: #0277bd; /* Slightly darker shade for hover */
	--button-active-color: #01579b; /* Even darker shade for active */
	--success-color: #388e3c;
	--warning-color: #fbc02d;
	--error-color: #d32f2f;
	--input-border-color: #757575;
	--input-focus-border-color: #0277bd;
	--input-background-color: #ffffff;

	--input-padding: 10px;
	--input-border-radius: 5px;

	--text-font-size: 20px;
}

p {
	font-size: var(--text-font-size);
	margin: 0;
}

label {
	font-size: var(--text-font-size);
	font-weight: bold;
}
